.signInForm {
  display: flex;
  flex-direction: column;
  width: 380px;
  flex: 1 1 auto;

  h2 {
    margin: 10px 0;
  }

  .btn-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    row-gap: 20px;
    flex-wrap: wrap;
  }
}
